<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acesso</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cadeira.css')}}">

</head>
<body>
    <h3>    
        {{nomeUsuario}}
    </h3>
<!-- ############################################################################################: -->

    <div id=container-acesso>
        {% set mensagens = get_flashed_messages() %}
        {% if mensagens %}
            <div id="alerta">
                {{mensagens[0]}}
            </div>
        {% endif %}
        <form action="cadeira" method="post">
        
        <h2>TABELA DE PRODUTOS</h2>

            <dix id=tabela-de-produtos>
               
                <button type="submit" id="btn-produtoCADEIRA" value="entrar">CADEIRA</button>
            <div>
                <button type="submit" id="btn-produtoMESA" value="entrar">MESA</button>
            <div>
                <button type="submit" id="btn-produtoVENTILADOR" value="entrar">VENTILADOR</button>
            <div>
                <button type="submit" id="btn-produtoARMARIO" value="entrar">ARMARIO</button>
            <div>
                <label for="valor1"></label>
            </div>
            
<!-- #################################################################################################: -->
            </dix>
        

    <div>
      
</body>
</html>