@charset "UTF-8";

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(40, 40, 40);
}
form{
    text-align: center;
    color: rgb(245, 5, 5);
    
}

/* ########################################  PAGINA DE LOGIN  ########################################### */

div#container-login{
    background-position: bottom;
    width: 500px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 2000px;
    border-top-left-radius: 300px;
    border-bottom-right-radius: 300px;
    box-shadow:1px 1px 1cm rgb(140, 255, 0);
}
#circulo {
    background: lightblue;
    border-radius: 40%;
    width: 90px;
    height: 50px;
}

input {
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 10px;
    
}

input:focus {
    color: rgb(255, 255, 255);
    background-color: black;
}

button#btn-entrar{
    color: rgb(255, 255, 255);
    background-color: #787978;
    border-radius: 80px;
    font-weight: bold;
    width: 80px;
    height: 80px;
}

button#btn-entrar:hover{
    background-color:rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

label{
    font-size: 30px;
    color: rgb(255, 255, 255);
    display: block;
    width: 100%;
    font-weight: bold;
}

/* ########################################  FONTES DE LETRAS  ########################################### */
h1{
    color: rgb(255, 0, 0);
    background-position: center;
    text-align: center;
    font-size: 25px;
}
h2{
    color: white;
    background-position: center;
}

h3{
    text-align: center;
    color: rgb(140, 255, 0);
    font-size: 25px;
}
div#alerta{
    text-align: center;
    width: center;
    color: rgb(254, 2, 2);
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif ;
}

